@import 'tailwindcss';

:root {
  /* --shadow-custom-button: 0 8px 8px -4px rgba(73, 93, 207, 0.05); */
}

@theme inline {
  /* spacing */
  --spacing-0.25: 0.063rem;
  --spacing-1.75: 0.438rem;
  --spacing-2.25: 0.563rem;
  --spacing-4.5: 1.125rem;
  --spacing-4.75: 1.188rem;
  --spacing-6.5: 1.625rem;
  --spacing-7.25: 1.813rem;
  --spacing-8.5: 2.125rem;
  --spacing-8.75: 2.188rem;
  --spacing-9.25: 2.313rem;
  --spacing-10.5: 2.625rem;
  --spacing-11.75: 2.938rem;
  --spacing-12.25: 3.063rem;
  --spacing-13.5: 3.375rem;
  --spacing-17.75: 4.438rem;
  --spacing-18: 4.5rem;
  --spacing-21.75: 5.438rem;
  --spacing-23: 5.75rem;
  --spacing-25: 6.25rem;
  --spacing-25.5: 6.375rem;
  --spacing-27.76: 6.938rem;
  --spacing-28.5: 7.125rem;
  --spacing-30: 7.5rem;
  --spacing-31.5: 7.875rem;
  --spacing-33.25: 8.313rem;
  --spacing-36.5: 9.125rem;
  --spacing-37: 9.25rem;
  --spacing-37.5: 9.375rem;
  --spacing-37.75: 9.438rem;
  --spacing-39.5: 9.813rem;
  --spacing-40.75: 10.188rem;
  --spacign-41.25: 10.313rem;
  --spacing-41.5: 10.375rem;
  --spacing-45.5: 11.375rem;
  --spacing-46: 11.5rem;
  --spacing-49: 12.25rem;
  --spacing-50.5: 12.625rem;
  --spacing-50.75: 12.688rem;
  --spacing-61: 15.25rem;
  --spacing-61.25: 15.313rem;
  --spacing-65.5: 16.375rem;
  --spacing-68: 17rem;
  --spacing-69.75: 17.438rem;
  --spacing-70.5: 17.625rem;
  --spacing-75: 18.75rem;
  --spacing-75.75: 18.938rem;
  --spacing-77.25: 19.313rem;
  --spacing-77.5: 19.375rem;
  --spacing-77.75: 19.438rem;
  --spacing-78.25: 19.563rem;
  --spacing-79.25: 19.813rem;
  --spacing-81.75: 20.438rem;
  --spacing-85: 21.25rem;
  --spacing-86: 20.875rem;
  --spacing-88: 22rem;
  --spacing-90: 22.5rem;
  --spacing-95.5: 23.875rem;
  --spacing-99.5: 24.875rem;
  --spacing-102: 25.5rem;
  --spacing-110.5: 27.625rem;
  --spacing-111.25: 27.813rem;
  --spacing-112.5: 28.125rem;
  --spacing-112.75: 28.188rem;
  --spacing-117: 29.25rem;
  --spacing-119.5: 29.875rem;
  --spacing-120: 30rem;
  --spacing-121.5: 30.375rem;
  --spacing-125: 31.25rem;
  --spacing-126.75: 31.688rem;
  --spacing-128: 32rem;
  --spacing-134: 33.5rem;
  --spacing-135: 33.75rem;
  --spacing-135.25: 33.813rem;
  --spacing-140: 35rem;
  --spacing-152: 38rem;
  --spacing-155: 38.75rem;
  --spacing-158: 39.5rem;
  --spacing-160: 40rem;
  --spacing-162.5: 40.625rem;
  --spacing-170: 42.5rem;
  --spacing-182.75: 45.688rem;
  --spacing-183.5: 45.875rem;
  --spacing-184: 46rem;
  --spacing-276: 69rem;
  --spacing-277.5: 69.375rem;
  --spacing-277.75: 69.438rem;

  /* colors */
  --color-white: #fff;
  --color-black: #000000;
  --color-blue-900: #0b0d17;
  --color-blue-300: #d0d6f9;
  --color-slate-975: #0b0d17;

  /* text format */
  --text-preset-1: 9rem;
  --text-preset-1--line-height: 2;
  --text-preset-1--letter-spacing: 0rem;

  --text-preset-1-mobile: 5rem;
  --text-preset-1-mobile--line-height: 1.15;
  --text-preset-1-mobile--letter-spacing: 0rem;

  --text-preset-2: 6.25rem;
  --text-preset-2--line-height: 114.6%;
  --text-preset-2--letter-spacing: 0rem;

  --text-preset-2-tablet: 5rem;
  --text-preset-2-tablet--line-height: 114.6%;
  --text-preset-2-tablet--letter-spacing: 0rem;

  --text-preset-2-mobile: 3.5rem;
  --text-preset-2-mobile--line-height: 114.6%;
  --text-preset-2-mobile--letter-spacing: 0rem;

  --text-preset-3: 3.5rem;
  --text-preset-3--line-height: 64.2%;
  --text-preset-3--letter-spacing: 0rem;

  --text-preset-4: 2rem;
  --text-preset-4--line-height: 36.7%;
  --text-preset-4--letter-spacing: 0rem;

  --text-preset-4-mobile: 1.125rem;
  --text-preset-4-mobile--line-height: 36.7%;
  --text-preset-4-mobile--letter-spacing: 0rem;

  --text-preset-5: 1.75rem;
  --text-preset-5--line-height: 33.6%;
  --text-preset-5--letter-spacing: 0.25rem;

  --text-preset-5-tablet: 1.25rem;
  --text-preset-5-tablet--line-height: 33.6%;
  --text-preset-5-tablet--letter-spacing: 0.25rem;

  --text-preset-6: 1.75rem;
  --text-preset-6--line-height: 1.19;
  --text-preset-6--letter-spacing: 0rem;

  --text-preset-6-mobile: 1rem;
  --text-preset-6-mobile--line-height: 1.19;
  --text-preset-6-mobile--letter-spacing: 0rem;

  --text-preset-7: 0.875rem;
  --text-preset-7--line-height: 16.8%;
  --text-preset-7--letter-spacing: 0.125rem;

  --text-preset-8: 1rem;
  --text-preset-8--line-height: 19.2%;
  --text-preset-8--letter-spacing: 0.125rem;

  --text-preset-9: 1.125rem;
  --text-preset-9--line-height: 180%;
  --text-preset-9--letter-spacing: 0rem;

  --text-preset-9-mobile: 0.938rem;
  --text-preset-9-mobile--line-height: 225%;
  --text-preset-9-mobile--letter-spacing: 0rem;

  --text-preset-9-tablet: 1rem;
  --text-preset-9-tablet--line-height: 180%;
  --text-preset-9-tablet--letter-spacing: 0rem;

  --text-preset-9-desktop: 1.125rem;
  --text-preset-9-desktop--line-height: 180%;
  --text-preset-9-desktop--letter-spacing: 0rem;

  /* radius */
  --radius-5px: 0.313rem;
  --radius-15px: 0.938rem;

  --font-bellefair: 'Bellefair', sans-serif;
  --font-barlow-condensed: 'Barlow Condensed', sans-serif;
  --font-barlow: 'Barlow', sans-serif;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: var(--color-white);
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  /* Remove intermediate 25%, 50%, and 75% keyframes */
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  /* Remove intermediate 25%, 50%, and 75% keyframes */
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.fade-in-right {
  animation: fade-in-right 0.6s ease-in-out forwards;
}

.fade-in-left {
  animation: fade-in-left 0.6s ease-in-out forwards;
}
